body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 30px;
}
header {
  background-color: tomato;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50 px;
}
header h1 {
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 50px;
}
header img {
  border-radius: 275px;
  height: 500px;
  width: 500px;
  border: 20px solide white;
}
h1,
h2 {
  font-family: "Roboto Condensed", sans-serif;
}
main {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
  padding: 0 20px 20px 100px;
}
h2 {
  font-size: 30px;
}
a {
}
footer {
  background-color: tomato;
  text-align: center;
}
footer a {
  color: white;
}
footer a : :hover {
  opacity: 0.5;
  background-color: transparent;
}
/* I'm  pretty happy with website */
